html {
  background: url(images/AHset.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Oswald', sans-serif;
}

#overbutton a {
  display: list-item;
  text-decoration: none;
  list-style-type: none;
  padding: 21px 15px 21px 15px;
  font-size: 2.8rem;
  font-weight: medium;
  border: 15px #EDEADF;
  color: #656B5E;
}

#overbutton a:hover {
  background-color: #A3C5D1;
}

#overbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #EDEADF;
  /*opacity: .8;*/
}